@import 'bootstrap/dist/css/bootstrap.min.css';
@import './styles/style.scss';

.head {
  position: relative;
  display: flex;
  align-items: center;
  padding-bottom: 20px;
}

.error {
  position: absolute;
  bottom: 0;
  left: 0;
  color: red;
  font-size: 14px;
}

.list-group-item__body {
  display: flex;
  justify-content: space-between;
}

.todo {
  background-color: #c2c2c245;
  border-radius: 10px;
}

.done {
  width: 20px;
  height: 20px;

  &:before {
    content: "";
    width: 10px;
    height: 4px;
    background-color: red;
    transform: rotate(45deg);
    display: block;
    border-radius: 4px;
  }

  &:after {
    content: "";
    width: 20px;
    height: 4px;
    background-color: red;
    transform: rotate(135deg);
    display: block;
    border-radius: 4px;
  }

}
